<configuration>

  <root level="trace">
    <appender name="colorAppender" class="ch.qos.logback.core.ConsoleAppender">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>%d{YYYY-MM-dd@HH:mm:ss.SSS} %green([%thread]) %highlight(%level) %logger{50} - %msg%n</pattern>
      </layout>
    </appender>
  </root>

  <logger name="org.eclipse.jetty" level="WARN"/>
  <logger name="io.netty" level="WARN"/>
  <logger name="org.jetbrains.exposed" level="WARN"/>
  <logger name="Exposed" level="WARN"/>

</configuration>